html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

.mainLayout {
  background-color: #ec6e24;
  min-height: 100vh;
}

.mainLayout .container {
  width: 40%;
  margin: auto;
  padding: 20px;
}

.mainLayout .card {
  width: 40%;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  text-align: left;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.mainLayout .flexCard {
  display: flex;
  align-items: center;
}

.mainLayout .card:hover,
.mainLayout .card:focus,
.mainLayout .card:active {
  color: #fff;
  background-color: #000;
}

.mainLayout .cardMessages:hover,
.mainLayout .cardMessages:focus,
.mainLayout .cardMessages:active {
  color: #000;
  background-color: #fff !important;
}

.mainLayout .card .messages .sender {
  margin-top: 0.5rem;
  border-radius: 15px;
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  margin-right: 30%;
  font-size: 0.8rem;
}

.mainLayout .card .messages .recipient {
  margin: 0.5rem;
  border-radius: 15px;
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  margin-left: 30%;
  font-size: 0.8rem;
}

.mainLayout .card .messages .sender:hover,
.mainLayout .card .messages .recipient:hover {
  color: #fff;
  background: #ec6e24;
}

.mainLayout .avatar img {
  width: 60px;
  height: 60px;
  background-color: #ec6e24;
  border: 1px solid #000;
  border-radius: 50%;
}

.mainLayout .userName {
  margin-left: 10px;
}

.mainLayout h1 {
  margin: 0;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  color: #fff;
}

.mainLayout h2 {
  margin: 0;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  color: #fff;
}

.mainLayout h3,
.mainLayout p {
  margin: 0;
  text-align: left;
  padding: 5px;
  font-size: 0.8rem;
}

.mainLayout .navigation {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.mainLayout .navigation a {
  padding: 10px 20px;
  margin: 5px;
  font-weight: 500;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
}

.mainLayout .navigation a:hover,
.mainLayout .navigation a:focus,
.mainLayout .navigation a:active {
  color: #fff;
  background-color: #000;
}

.mainLayout .links {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: underline;
  color: #ec6e24;
}

.mainLayout .linksMessage {
  font-size: 0.5rem !important;
  color: #000 !important;
}

.mainLayout .linksMessage:hover,
.mainLayout .linksMessage:focus {
  color: #fff !important;
}

.mainLayout .notFound,
.mainLayout .notFound p {
  text-align: center;
  color: #fff;
}

#formNewConversation {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#formNewConversation textarea{
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .mainLayout .card {
    width: 90%;
  }

  .mainLayout .navigation {
    justify-content: center;
  }
}